body {
    font-family: Arial, sans-serif;
    background-image: url('Screenshot 2024-03-17 222542.png');
    background-attachment: fixed;
    background-size: 1500px 890px;
    margin: 0;
    padding: 0;
}